[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

awscli = "*"
"beautifulsoup4" = "*"
"boto3" = "*"
dateparser = "*"
futures = "*"
"html5lib" = "*"
requests = "*"


[dev-packages]

