[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
awscli = "*"
"beautifulsoup4" = "*"
"boto3" = "*"
dateparser = "*"
django = "*"
"html5lib" = "*"
openpyxl = "*"
paramiko = "*"
requests = "*"
pillow = "!=5.1.0"
simple-salesforce = "*"
tweepy = "*"

[dev-packages]

[requires]
python_version = "3.6"
